<form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Product-Name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Image-Url">
      </div>
    </div>
    <div class="row">
        <div class="col">
          <textarea type="text" class="form-control" placeholder="Description"></textarea>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Amount">
        </div>
      </div>
      <div class="row1">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          isAvailable
        </label>
      </div>
    <div class="row">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
  </form>